@model IEnumerable<RockstarsManagementSquad.Models.CompanyViewModel>
@{
    ViewData["Title"] = "Companies";
}

<div class="text-center">
    <form asp-controller="Companies" method="post" asp-action="Create">
        <input type="text" name="name" placeholder="Company Name" />
        <input type="text" name="address" placeholder="Company Address" />
        <input type="tel"  name="telNr" placeholder="Company Tel" />
        <button type="submit" name="submit" value="Create">Create</button>
    </form>
</div>

<div>
    <br/>
    <br/>
    <table class="table">
        <tdead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>TelNr</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.adress</td>
                <td>@item.telephonenr</td>
            </tr>
        }
        </tbody>
    </table>
</div>
