@model RockstarsManagementSquad.Models.AnswerCompanyViewModel

@{
    ViewData["Title"] = "Graph";
}

<h1>Graph</h1>

<div>
    <h4></h4>
    <hr />
    <canvas id="MyChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('MyChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['vraag 1', 'vraag 2', 'vraag 3', 'vraag 4', 'vraag 5', 'vraag 6', 'vraag 7', 'vraag 8', 'vraag 9',],
                datasets: [
                    {
                        label: "Goed",
                        backgroundColor: ["#00d46b"],
                        //     v1, v2, v3
                        data: [10, 10, 10]
                    },
                    {
                        label: "Meh",
                        backgroundColor: ["#ffe000"],
                        //     v1, v2, v3
                        data: [20, 20, 20]
                    },
                    {
                        label: "Slecht",
                        backgroundColor: ["#ff6235"],
                        //     v1, v2, v3  v4
                        data: [30, 30, 30, 40]
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                elements: {
                    bar: {
                        backgroundColor: ['#00d46b', '#ffe000', '#ff6235']
                    }
                }
            }
        });
    </script>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
