@model IEnumerable<RockstarsManagementSquad.Models.SquadViewModel>
@{
	ViewData["Title"] = "Squads";
}

@*<div class="text-center">
    <form method="post" action="">
        <input type="text" name="name" placeholder="zeg even" />
        <input type="text" name="address" placeholder="wat je" />
        <input type="tel"  name="telNr" placeholder="hier wilt" />
        <input type="submit" name="submit" value="Submit" />
    </form>
</div>*@

<div class="center-content">

	<h1 class="title">Squads</h1>
	<button>Maak een squad</button>


	<br />
	<br />
	<div class="card-container">
		@foreach (var item in Model)
		{
			<div class="ag-courses_box">
				<div class="ag-courses_item">
					<div href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							@item.name
						</div>

						<div class="ag-courses-item_content">
							@item.companyId
						</div>

						<div class="ag-courses-item_date-box">
							<button type="button" class="btn btn-success">Results</button>
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

</div>


