@model RockstarsManagementSquad.Models.UserViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome, [Username]!</h1>
    <h2 class="display-5">Welkom Rockstars!</h2>
</div>
